.container {
  display: flex; /* or inline-flex */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 97vh; /* full viewport height */
  border-radius: 5%;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("/background-login.png");
}

.loginContainer {
  text-align: center;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  width: 50vh;
  padding: 10px;
  background-color: white;
}

.inputLogin {
  display: block;
  margin: 1px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonLogin {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #984caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tempAlert {
  display: block;
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}