.login-page {
  background-color: lightblue;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-size: cover;

  .login-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2rem;
    text-align: center;

    h1 {
      font-weight: 700;
    }

    input {
      padding: 0.75rem;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .btn {
      font-weight: 450;
      font-size: 1rem;
      margin: 5px;
    }

    .alert {
      font-size: 0.9rem;
    }
  }
}